*{
    margin: 0;
    padding: 0;
}
body{
     font-size: 16px;
     font-family: 'Open Sans', 'Courgette';
}
a{
	text-decoration: none;
}
/*******UTILITIES******/

.bg-purple{
	background-color: #2D2735;
}

.bg-black{
	background-color: #1B1821;
}

.text-yellow{
	color: #F6B96C;
}

.text-white{
	color: white;
}

.pd-3{
	padding: 3%;
}

.pd-5{
	padding: 5%;
}

.text-center{
	text-align: center;
}

.font-courgette{
	font-family: 'Courgette';
}
.italic{
	font-style: italic;
}

.w-100{
	width: 100%;
}

.text-left{
	text-align: left;
}

.radius-4p{
	border-radius: 4px;
}
/*******BANNER******/

.bg-lirios{
	background: url("../image/header-image.jpg");
	background-size: cover;
	padding: 10% 20%;
}

.spring h1{
	font-size: 5rem;
}

.spring{
	padding: 10% 0 3% 0;
}

/*****FLOWERS******/

.flowers p{
	padding: 10px 0 20px 0;
}

.flowers h3{
	margin-top: 10px;
}
/****ARTICLE*****/
.article h3{
	padding-top: 10px;
}

.article p{
	padding: 10px;
}

.search{
	display: block;
	margin: auto;
	border: none;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 1rem;
}

.about-me{
	margin-top: 10px;
}

.icono{
	height: 35px;
	width: 35px;
	border-radius: 100%;
	text-align: center;
	padding-top: 6px;
	display: inline-block;
	color: white;
}

iframe{
	width: 100%;
	height: 350px;
}



/* Responsive */

@media screen and (max-width : 920px) {
	.col-4, .col-7, .col-5{
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.col-4, .col-7, .col-5{
		width: 100%;
	}

	.bg-lirios{
	padding: 7%;
	}

	.bg-purple .col-5 .bg-black{
		display: none;
	}
}
